@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  --morado: rgba(175,60,249,255);
  --moradolight: rgb(231, 188, 255);
  --rojo: rgba(240,10,96,255);
  --rojolight: rgb(255, 109, 170);
  --gris: rgba(240,240,240,255);
  --gris-oscuro: rgba(155,155,155,255);
  --fondo: rgba(255,255,255,255);
  --letra: rgba(29,29,27,255);
  --blur: blur(10px);

  --materia2: rgba(13,177,152,255);
  --materia2light: rgba(153,251,236,255);
  --materia3: rgba(71,95,229,255);
  --materia3light: rgba(172,185,255,255);
  --materia4: rgba(241,104,62,255);
  --materia4light: rgba(242,185,133,255);

  /*Transparencia*/
  --materia3trans: rgba(172,185,255,0.8);

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  transition: all .2s linear;
}

body{
  height: 100%;
  position: relative;
}

/*HEADER*/

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.navbar a{
  color: var(--letra);
}

.navbar a:hover{
  color: var(--rojo);
}

header{
  position: fixed;
  width:100%;
  top: 0;
  background: var(--fondo);
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .1);
  font-weight: 600;
  z-index: 1;
}

.navbar{
  width: 100%;
  height: 80px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .home{
  cursor: pointer;
  margin-left: 20px;
}

.navbar .links{
  display: flex;
  gap: 2rem;
}

.navbar .home img{
  width: 150px;
  height: 60px;
}

.navbar .perfil img{
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-right: 20px;
}

.navbar .menu_btn{
  color: var(--letra);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/* DROPDOWN MENU A */
.dropdown_menu{
  display: none;
  position: absolute;
  height: 0;
  width: 100%;
  background-color: rgba(175, 60, 249, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 0 0 30px 30px;
  overflow: hidden;
  z-index: 1;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
  height: 240px;
}

.dropdown_menu li{
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu a{
  color: var(--letra);
  font-weight: bold;
  font-size: 20px;
}

.dropdown_menu a:hover{
  color: var(--rojo);
}

.dropdown_menu a:active{
  transform: scale(0.95);
}

/* SLIDER */
.interes{
  margin-top: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-20%);
  font-size: 20px;
}

.slider-container {
  position: relative;
  width: 40%;
  max-width: 1200px;
  margin: 0 auto;
}

.slider {
  display: flex;
}

.slide {
  flex: 0 0 100%;
  max-width: 100%;
}

.slide img {
  width: 100%;
  height: auto;
}

.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.controls button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 15px;
  color: var(--fondo);
}

.controls button:first-child{
  border-radius: 0 20px 20px 0;
}

.controls button:last-child{
  border-radius: 20px 0 0 20px;
}

.controls button:hover {
  background: var(--letra);
}

.dots-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #555;
}



/*CATEGORIAS DE MATERIAS*/

.conten-cat {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
}

.titulo {
  margin: 40px;
}

.categorias {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
  width: 40%;
}

.boton {
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}


.boton:hover {
  transform: translateY(-8px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  background: linear-gradient(to bottom, var(--fondo), var(--materia3trans));
}

.boton a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

/* FOOTER */
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: .8;
  background-color: var(--morado);
  padding: 1rem;
  color: var(--fondo);
}

.footer p{
  cursor: pointer;
}

footer .redes img{
  height: 30px;
  width: 30px;
  text-align: center;
  
  margin-left: 10px;
}

footer .redes img:hover{
  transform: scale(1.1) rotate(360deg);
}

.footer p:hover{
  text-decoration: underline;
}

/* RESPONSIVE */
/*Escritorio*/
@media(max-width: 1900px){
    
  .slider-container {
    width: 50%;
  }

  .navbar .links{
      display: none;
  }

  .navbar .menu_btn{
      display: block;
  }

  .dropdown_menu {
      display: block;
  }
}

/*Tablet*/
@media(max-width: 992px){
    
    .slider-container {
      width: 80%;
    }

    .navbar .links{
        display: none;
    }

    .navbar .menu_btn{
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

/*Mobile*/
@media (max-width: 576px){
    
    .slider-container {
      width: 100%;
    }

    .conten-cat .categorias{
      grid-template-columns: 1fr;
      width: 90%;
    }

    .dropdown_menu{
        width: 100%;
        margin-right: 50px;
    }

    .perfil{
        display: none;
    }

    .menu_btn{
        margin-right: 20px;
    }

    .home{
        margin-left: 10px;
    }
}
